<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Author</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Edit Author</h2>
    <form th:action="@{/authors/edit/{id}(id=${author.id})}" th:object="${author}" method="post">
        <div class="form-group">
            <label>Full Name</label>
            <input type="text" th:field="*{fullName}" class="form-control" required />
        </div>
        <div class="form-group">
            <label>Birth Date</label>
            <input type="date" th:field="*{birthDate}" class="form-control" required />
        </div>
        <div class="form-group">
            <label>Biography</label>
            <textarea th:field="*{biography}" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update Author</button>
    </form>
</div>
</body>
</html>
