<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Authors List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Authors</h2>
    <a class="btn btn-primary mb-3" href="/authors/new">Add New Author</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Birth Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${authors}">
            <td th:text="${author.id}"></td>
            <td th:text="${author.fullName}"></td>
            <td th:text="${author.birthDate}"></td>
            <td>
                <a th:href="@{/authors/edit/{id}(id=${author.id})}" class="btn btn-warning btn-sm">Edit</a>
                <a th:href="@{/authors/delete/{id}(id=${author.id})}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
